<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="row">
    <div class="large-4 columns">
        <label><%= f.label :username %></label>
        <%= f.text_field :username %>
    </div>
</div>
<div class="row">
  <div class="large-4 columns">
      <label><%= f.label :first_name %></label>
      <%= f.text_field :first_name %>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <label for="customDropdown"></label>
    <%= f.label :dob %>
    <div class="large-4 columns">
        <%= f.date_select :dob, :default => Date.today.years_ago(18), :start_year => Time.now.year - 100 , :end_year => Time.now.year - 18 %>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <%= f.submit "Submit"  %>
 </div>
</div>
<% end %>
</div>

<%= render "devise/shared/links" %>