<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Dob</th>
    <th>Balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.dob %></td>
    <td><%= user.balance %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>

<br />
<%= javascript_tag do %>
    window.players_URL = "<%=j users_url %>";
    <% end %>
