<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
<div class="row">
    <div class="large-4 columns">
    	<%= f.label :password, "New password" %>
  		<%= f.password_field :password, :autofocus => true %>
  	</div>
</div>

  	<div class="row">
    <div class="large-4 columns">
  		<%= f.label :password_confirmation, "Confirm new password" %>
  		<%= f.password_field :password_confirmation %></div>
  </div>
<div class="row">
    <div class="large-4 columns">
  <%= f.submit "Change my password" %>
</div>
</div>

  
<% end %>