<h2>Forgot your password?</h2>
  
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  </div>
<div class="row">
    <div class="large-4 columns">
	  <%= f.label :email %>
	  <%= f.email_field :email, :autofocus => true %>


	  <%= f.submit "Send me reset password instructions" %>
	  </div>
</div>
<% end %>



