<h3>at table <%=this.model.get('id')%></h3>
<div>
	 
	 <div id="winner"></div>
	 <p> <%= this.model.get('state')%></p>
	 <ul class="button-group">
	<li><a class="button" id="join">join table</a></li>
	<li><a class="button" id="leave">leave table</a></li>
	<li><a class="button" id="startRound">next hand</a></li>
</ul>
</div>

 