<h1 id="header" ></h1>
<%= javascript_tag do %>
    window.players_URL = "<%=j users_url %>";
    <% end %>
    <div id="player1_container"></div>
    <div id="cards"></div>
    <div id="backbone_container"></div>
    <div id="player2_container"></div>
