

<h3>Poker Game</h3>
<p>users on table</p>

<%  @table.player_list.each do |player| %>

<p> user <%= player.name %> </p>
<% end %>

<%if @table.player_list.length >= 2%>
 <p> table full</p>
 <%end%>
<p><a href="#" class="button" id="raise_button">join table</a></p>
