var App = App || {};
App.assets = {
  // Returns an object containing all of asset pipeline's image paths.
  //
  // Sample:
  //
  // {
  //   avatars/missing_avatar.png: "/assets/avatars/missing_avatar.png"
  //   chosen-sprite.png: "/assets/chosen-sprite.png"
  //   circle_green.png: "/assets/circle_green.png"
  //   circle_orange.png: "/assets/circle_orange.png"
  //   circle_red.png: "/assets/circle_red.png"
  //   circle_yellow.png: "/assets/circle_yellow.png"
  //   document.png: "/assets/document.png"
  // }
  //
  images: {
    <% AssetsUtil.images.each do |img| %>
      "<%= img %>" : "<%= asset_path(img) %>",
    <% end %>
  },
 
  // Return a formatted URL for an asset.
  //
  // Sample:
  //
  // "/assets/document/png."
  //
  path: function(name) {
    // If the file is in our images object, pull the path from there.
    if (this.images && this.images[name]) {
      return this.images[name];
    }
 
    // Otherwise, create a generic asset path.
    return '/assets/' + name;
  }
}