<div class="row">

		<div id="hole_card_1"class="large-6 columns">Hole Card1<img src=<%= this.path_one%>></div>
		<div id="hole_card_2"class="large-6 columns">Hole Card2<img src= <%= this.path_two%>></div>
</div>