<h3><%= this.model.get('username')%></h3>
	<% if (window.currentUser.id == this.model.get('id')){%>
	<div id="hand"></div>
		<div id="button_group">
			<ul class="button-group round even-5" >
			</ul>
		</div>
		
	<% } else {%>
	<div class="row">
		<div class="large-6 columns"><img src="<%= App.assets.path('cards_png/b2fv.png') %>"></div>
		<div class="large-6 columns"><img src="<%= App.assets.path('cards_png/b2fv.png') %>"></div>
	</div>
	<% } %>

