<nav class="top-bar">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
            <h1><a href="#">Dt354 Poker</a></h1>
            </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <% if user_signed_in?%>
                <li class="divider"></li>
                <li><a href="#"><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></a></li>
                <li class="divider"></li>
                <li><a href="#"><%= link_to 'Profile', current_user %></a></li>
                <li class="divider"></li>
                <li><a href="#"><%= link_to 'Poker', games_path %></a></li>
            <% else%>
            <li class="divider"></li>
            <li><a href="#"><%= link_to 'Sign up', new_user_registration_path %></a></li>
            <li class="divider"></li>
            <li><a href="#"><%= link_to 'Login', new_user_session_path %></a></li>
            <%end%>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
            <li class="has-form">
                <form>
                    <div class="row collapse">
                        <div class="small-8 columns">
                            <input type="text">
                        </div>
                        <div class="small-4 columns">
                            <a href="#" class="alert button">Search</a>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </section>
</nav>