<!DOCTYPE html>
<html>
    <head>   
        <title><%= content_for?(:title) ? yield(:title) : "Poker" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails3 Devise Rspec Cucumber" %>">

        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%= yield(:head) %>
        <%if (current_user) %>
        <script type="text/javascript">
            window.currentUser = {
                id : "<%=current_user.id%>"
            }
        </script>
        <%end %>
    </head>
    <%= render 'layouts/topbar' %>
      
   
    <body class="<%= controller_name %> <%= action_name %>">
        <div id="container" class="container">
            <header>
                <%= render 'layouts/messages' %>
                <script type="text/template" id='new-poker-template'>
                    {{= id }}
                </script>   
            </header>
            <div id="main" role="main">
                <%= yield %>
            </div>
            <footer class="row">
                <div class="large-12 columns">
                        <hr>
                    <div class="row">
                        <div class="large-6 columns">
                            <p>© Martin Brennan</p>
                        </div>
                        <div class="large-6 columns">
                        </div>
                    </div>
                </div> 
            </footer>
        </div> <!--! end of #container -->
    </body>
</html>